// ----------------------First Button(HEADER)-----------------------------------
.button1 {
    height: 3em;
    width: 8em;
    border: none;
    border-radius: 10em;
    background: #000;
    font-size: 17px;
    color: #ffffff;
    font-family: inherit;
    font-weight: 500;
}

.button1:hover {
    animation: shake3856 0.3s linear infinite both;
}

@keyframes shake3856 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }

    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }

    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }

    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

// ----------------------Second Button-----------------------------------
/* From Uiverse.io by ernestnash */
.btn {
    display: inline-block;
    padding: 0.9rem 1.8rem;
    font-size: 16px;
    font-weight: 700;
    color: black;
    border: 3px solid #000;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-color: #000;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}


.btn:hover::before {
    transform: translateX(0);
}
.btn:hover {
    color: #ffffff;
}